fastapi
uvicorn
gunicorn

# Twilio & Voice
twilio
python-multipart
requests

# Redis & Queue
redis
rq

# Environment & Validation
pydantic
python-dotenv
email-validator

# Security (LOGIN / AUTH)
passlib[bcrypt]
bcrypt
python-jose[cryptography]

# TTS (Google + ElevenLabs + Azure)
gtts
google-cloud-texttospeech
azure-cognitiveservices-speech

# Optional but recommended
httpx
openai
