# FastAPI Core
fastapi
uvicorn
gunicorn

# Voice Engine (Vapi & Groq)
requests
groq
httpx

# Redis & Task Queue
redis
rq

# Environment & Validation
pydantic
pydantic-settings
python-dotenv
email-validator

# Security (Auth)
passlib[bcrypt]
bcrypt
python-jose[cryptography]

# Utilities
pytz
reportlab
razorpay
